1. Discuss string slicing and provide examples.

String slicing in Python is a way to extract a portion of a string by specifying a start and end index.
Where,
Start is inclusive &
End is exclusive.
Slicing is useful when we have to get a sequence of characters in a string.
For example.

---

In [ ]:
A = "Ronaldo is the greatest player of all time , But Messi is inhuman"
print (A[0:24])

Ronaldo is the greatest

In [ ]:
print (A[-17:]) >> Negative indexing.

 Messi is inhuman

2. Explain the key features of lists in Python.

Lists in Python is used for data structure which allows us to store an ordered collection of elements. Just like our MOM's bag. Elements in the lists can be of any data type.
Lists are created using square brackets [ ].

In [ ]:
 # Order is maintained in the list, ie. first element has the index 0 and the second has 1 , and is continues.
Balls_type = ['Nike' , 'Puma' , 'Adidas']
print (Balls_type[2])

Adidas

In [ ]:
# Add & remove the items in the list is one the key feature of the Lists.
Balls_type = ['Nike' , 'Puma' , 'Adidas']
Balls_type.append('Nivia') # nivia will be added to the list
print (Balls_type)

['Nike', 'Puma', 'Adidas', 'Nivia']

In [ ]:
Balls_type = ['Nike' , 'Puma' , 'Adidas']
Balls_type.pop() # using the pop function the last element is the list will be deleted.
print (Balls_type)

['Nike', 'Puma']

In [ ]:
# Mutability, ie. Lists can be changed , updated , or deleted after is created.
Balls_type = ['Nike' , 'Puma' , 'Adidas']
Balls_type[1] = 'Nivia' # puma is changed to nivia using indexing.
print(Balls_type)

['Nike', 'Nivia', 'Adidas']

In [ ]:
# Can Hetrogenous elements, ie. can store any element type like string, integer,other list etc.
grocery_list = ['Namkeen' , '365blade' , 'fruits' , ['bread' , 'egg'] , 2]
print(grocery_list)

['Namkeen', '365blade', 'fruits', ['bread', 'egg'], 2]

In [ ]:
# Slicing is also supported by Lists
Balls_type = ['Nike' , 'Puma' , 'Adidas']
print(Balls_type[0:2])

['Nike', 'Puma']

In [ ]:
# using loops like for loops we can iterate over the elements of a list which makes it easy to perform operations on each element in the list.
for Balls_type in ['Nike' , 'Puma' , 'Adidas']
    print(Balls_type)

In [ ]:
# Flexible functions and comprehension methods like append(), remove(), pop(), sort()
# we can add, remove specific element, remove last element, and sort the list in places respectively.

3. Describe how to access, modify, and delete elements in a list with examples.

Accessing, Modifying, Deleting in the lists are the Fundamental Operations that can be performed using indexing, slicing and list method.

In [ ]:
# Accessing in the lists
Balls_type = ['Nike' , 'Puma' , 'Adidas']

# accessing 3rd element
print (Balls_type[2])

# accessing first element
print (Balls_type[0])

Adidas
Nike

In [ ]:
# Modifying the elements in the lists
Balls_type = ['Nike' , 'Puma' , 'Adidas']
Balls_type[1] = 'Nivia' # puma is changed to nivia using indexing.
print(Balls_type)

['Nike', 'Nivia', 'Adidas']

In [ ]:
# Deleting the elements in the lists
fruits = ['Banana' , 'Apple' , 'Orange' , 'Grapes']
fruits.pop()
print (fruits)

# using remove funtions
fruits.remove('Banana')
print(fruits)

['Banana', 'Apple', 'Orange']
['Apple', 'Orange']

4. Compare and contrast tuples and lists with examples.

Lists and Tuples are both data types in Python which stores the collection of elements in sequence. They both have difference and similarities which are used in different cases.

Parentheses

In [ ]:
# Lists
Balls_type = ['Nike' , 'Puma' , 'Adidas']


# Tuple
Balls_type = ('Nike' , 'Puma' , 'Adidas')

Mutability

In [1]:
# Lists - Mutable- Elements can be changes, modified, update and we can add/remove elements after the list is created.
Balls_type = ['Nike' , 'Puma' , 'Adidas']
Balls_type[2] = 'Nivia'  # modifing the 3rd element.
print (Balls_type)



# Tuple - Immutable
Balls_type = ['Nike' , 'Puma' , 'Adidas']
Balls_type[2] = 'Nivia'  # It will throw an error as Tuples are immutable, ie. cannot be modified.

['Nike', 'Puma', 'Nivia']

Adding/removing elements ie. Size

In [2]:
# list - it can change their size.
my_list = [1, 2, 3, 4, 5, 6]
my_list.append(7)
print(my_list)  # Output: [1, 2, 3, 4, 5, 6, 7]

# tuple - they have fixed size
my_list = [1, 2, 3, 4, 5, 6]
my_list.append(7)  # it will throw an error.

[1, 2, 3, 4, 5, 6, 7]

Tuples as Dictionary Keys - Lists are mutable, they cannot be used as dictionary keys or elements of sets. Whereas Tuples are immutable, they can be used as dictionary keys or elements of sets.

In [3]:
# Tuple as dictionary key
emply_id = {
    (223445): "Abhishek",
    (443225): "Anshuman"
}
print(emply_id) # output - {223445: 'Abhishek', 443225: 'Anshuman'}

# Lists it will throw error because they are mutable.

{223445: 'Abhishek', 443225: 'Anshuman'}

Both lists and tuples supports assigning multiple values to a single variable and extracting multiple values from a sequence.

In [5]:
# Tuples
A = (1, 2, 3)
a, b, c = A
print(a, b, c)  # Output: 1 2 3

# Lists
B = [4, 5, 6]
x, y, z = B
print(x, y, z)  # Output: 4 5 6

1 2 3
4 5 6

5. Describe the key features of sets and provide examples of their use.

A set in Python is an unordered collection of unique elements. Used in storing mainly non-duplicate items and perform operations like union, intersection and difference.

In [8]:
# Sets do not collect items in the ordered form.
#When you print or iterate over a set, the order of elements may not be the same as the order in which you added them.
Num = {1, 3, 2, 4, 5, 8, 7, 6}
print(Num)  # Output may be {1, 2, 3, 4, 5, 6, 7, 8} or in another order

{1, 2, 3, 4, 5, 6, 7, 8}

In [6]:
# Sets automatically removes duplicate elements
Num = {1, 3, 2, 4, 5, 5, 8, 7, 6}
print(Num)  # Output may be {1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

In [9]:
# Sets are mutable ie. adding and removing items in set are possible.
Num = {1, 3, 2, 4, 5, 8, 7, 6}
Num.add(9)  # adding element
print(Num)  # Output may be {1, 2, 3, 4, 5, 6, 7, 8, 9}


Num = {1, 3, 2, 4, 5, 8, 7, 6}
Num.remove(3)  # removing element
print(Num)  # Output may be {1, 2, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 4, 5, 6, 7, 8}

Since sets are unordered, you cannot access elements by an index like you would in a list or tuple. Attempting to do so will result in an error. Sst follow no indexing.

In [13]:
# Supports mathematical operations like Union, Intersection & Difference
Fru1 = {'Mango' , 'Kiwi' , 'Grapes'}
Fru2 = {'Banana' , 'Mango' , 'Peru'}

# Union: combines elements from both Fru1 and Fru2
print(Fru1 | Fru2)  # Output: {'Grapes', 'Banana', 'Peru', 'Kiwi', 'Mango'}

# Intersection: elements common to both Fru1 and Fru2
print(Fru1 & Fru2)  # Output: {'Mango'}

# Difference: elements in Fru1 but not in Fru2
print(Fru1 - Fru2)  # {'Grapes', 'Kiwi'}

{'Grapes', 'Banana', 'Peru', 'Kiwi', 'Mango'}
{'Mango'}
{'Grapes', 'Kiwi'}

6. Discuss the use cases of tuples and sets in Python programming.

Use cases of Tuples -

1. Data Integrity: To ensure that data remains consistent throughout your program

2. Function Return Values: When you want to return multiple values from a function.

3. Dictionary Keys: Tuples can be used as keys in dictionaries because they are hashable (unlike lists).

4. Immutable Data: When you need to store data that shouldn't be changed, such as coordinates or database records.

Use cases of Sets -

1. Removing Duplicates: To efficiently remove duplicates from a list. unique_items = set()

2. Set Operations: To perform mathematical set operations like union, intersection, and difference. print(a | b)  
print(a & b)  
print(a - b)

3. Membership Testing: To quickly check if an element exists in a set (faster than with lists).

7. Describe how to add, modify, and delete items in a dictionary with examples.

In [15]:
# Adding items in dictionary

emply_info = {"name": "Rakesh", "age": 25}

# Adding a new value-key pair
emply_info["department"] = "HR"

print(emply_info)
# Output: {'name': 'Rakesh', 'age': 25, 'department': 'HR'}

# Using update() Method.

# Adding multiple key-value pairs
emply_info.update({"country": "INDIA", "profession": "Management"})
print(emply_info)

{'name': 'Rakesh', 'age': 25, 'department': 'HR'}
{'name': 'Rakesh', 'age': 25, 'department': 'HR', 'country': 'INDIA', 'profession': 'Management'}

In [16]:
# Modifying

emply_info = {"name": "Rakesh", "age": 25, "department": "HR"}

# Modifying the value associated with the key 'age'
emply_info["age"] = 30

print(emply_info)
# Output: {'name': 'Rakesh', 'age': 30, 'department': 'HR'}

{'name': 'Rakesh', 'age': 30, 'department': 'HR'}

In [17]:
# Deleting items

emply_info = {"name": "Rakesh", "age": 25, "department": "HR"}

# Deleting the key 'age'
del emply_info["age"]

print(emply_info)
# Output: {'name': 'Rakesh', 'department': 'HR'}

{'name': 'Rakesh', 'department': 'HR'}

8. Discuss the importance of dictionary keys being immutable and provide examples.

Dictionary keys in Python must be immutable because they serve as unique identifiers for accessing values within the dictionary. Immutability ensures that keys remain constant and hashable, allowing Python to quickly locate and retrieve values associated with those keys. Here's a detailed discussion on why immutability is important for dictionary keys.

In [ ]:
mdict = { [1, 2]: "example" }



# Attempt to access the value using the key

print(mdict[[1, 2]])



# This might not work as expected because the list key could be modified

[1, 2].append(3)



# Now the key is different and the lookup will fail

print(my_dict[[1, 2, 3]])

#he immutability of dictionary keys is fundamental to ensuring the integrity and efficiency of data retrieval within a dictionary.
#By using immutable data types as keys, the dictionary can reliably locate values based on their unique hash values, making lookups fast and predictable.